@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito Sans';
    background-color: hsl(0, 0%, 98%);
}

.dark body {
    background-color: hsl(207, 26%, 17%);
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0 1rem;
    }
}